@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Scripture Journal</h1>
    <em>Get started by clicking the Journal button above</em>
</div>
